<form method="post" enctype="multipart/form-data"><table border="1">
<thead>
<tr>
<th>user_fk</th>
<th>user_oto</th>
<th>user_m2m</th>
<th>name</th>
<th>slug</th>
<th>image</th>
<th>file</th>
<th>about</th>
<th>date</th>
<th>time</th>
<th>published</th>
<th>email</th>
<th>url</th>
<th>pin</th>
<th>verify</th>
<th>state</th>
<th>country</th>
<th>latitude</th>
<th>longitude</th>
</tr>
</thead>
<tbody>
<tr id="row_1" name="row_1">
<td>user1</td>
<td>user1</td>
<td>user3</td>
<td>test1</td>
<td>abc</td>
<td>image1.jpg</td>
<td>Account State.pdf</td>
<td>testing1</td>
<td>2024-04-12 00:00:00</td>
<td>07:31:16</td>
<td>April 12, 2024, 7:31 a.m.</td>
<td>user1@gmail.com</td>
<td>https://www.abc.com</td>
<td>303202</td>
<td>Yes</td>
<td>Goa</td>
<td>India</td>
<td>123.85</td>
<td>132.59</td>
</tr>
<tr id="row_2" name="row_2">
<td>user2</td>
<td>user2</td>
<td>user8</td>
<td>test2</td>
<td>def</td>
<td>image2.jpg</td>
<td>Account State.pdf</td>
<td>testing2</td>
<td>2024-04-12 00:00:00</td>
<td>07:32:20</td>
<td>April 12, 2024, 7:32 a.m.</td>
<td>user2@gmail.com</td>
<td>https://www.abc.com</td>
<td>545215</td>
<td>yes</td>
<td>Rajasthan</td>
<td>India</td>
<td>996.0</td>
<td>261.44</td>
</tr>
<tr id="row_3" name="row_3">
<td>user3</td>
<td>user3</td>
<td>user8</td>
<td>test3</td>
<td>ghi</td>
<td>image3.jpg</td>
<td>Account State.pdf</td>
<td>testing3</td>
<td>2024-04-12 00:00:00</td>
<td>07:33:16</td>
<td>April 12, 2024, 7:33 a.m.</td>
<td>user3@gmail.com</td>
<td>https://www.abc.com</td>
<td>545121</td>
<td>no</td>
<td>MP</td>
<td>India</td>
<td>65.0</td>
<td>44.44</td>
</tr>
<tr id="row_4" name="row_4">
<td>user4</td>
<td>user4</td>
<td>user7</td>
<td>test4</td>
<td>jkl</td>
<td>image2.jpg</td>
<td>Account State.pdf</td>
<td>testing4</td>
<td>2024-04-12 00:00:00</td>
<td>07:34:16</td>
<td>April 12, 2024, 7:34 a.m.</td>
<td>user4@gmail.com</td>
<td>https://www.abc.com</td>
<td>454521</td>
<td>no</td>
<td>UP</td>
<td>India</td>
<td>44.23</td>
<td>78.44</td>
</tr>
<tr id="row_5" name="row_5">
<td>user5</td>
<td>user5</td>
<td>user1</td>
<td>test5</td>
<td>mno</td>
<td>image1.jpg</td>
<td>Account State.pdf</td>
<td>testing5</td>
<td>2024-04-12 00:00:00</td>
<td>07:36:16</td>
<td>April 12, 2024, 7:36 a.m.</td>
<td>user5@gmail.com</td>
<td>https://www.abc.com</td>
<td>878455</td>
<td>yes</td>
<td>J&K</td>
<td>India</td>
<td>56.225</td>
<td>457.1</td>
</tr>
<tr id="row_6" name="row_6">
<td>user6</td>
<td>user6</td>
<td>user10</td>
<td>test6</td>
<td>pqr</td>
<td>image3.jpg</td>
<td>Account State.pdf</td>
<td>testing6</td>
<td>2024-04-12 00:00:00</td>
<td>07:37:16</td>
<td>April 12, 2024, 7:37 a.m.</td>
<td>user6@gmail.com</td>
<td>https://www.abc.com</td>
<td>545127</td>
<td>no</td>
<td>Punjab</td>
<td>India</td>
<td>24.425</td>
<td>252.58</td>
</tr>
<tr id="row_7" name="row_7">
<td>user7</td>
<td>user7</td>
<td>user2</td>
<td>test7</td>
<td>stu</td>
<td>image1.jpg</td>
<td>Account State.pdf</td>
<td>testing7</td>
<td>2024-04-12 00:00:00</td>
<td>07:38:16</td>
<td>April 12, 2024, 7:38 a.m.</td>
<td>user7@gmail.com</td>
<td>https://www.abc.com</td>
<td>122155</td>
<td>yes</td>
<td>AP</td>
<td>India</td>
<td>62.86</td>
<td>144.57</td>
</tr>
<tr id="row_8" name="row_8">
<td>user8</td>
<td>user8</td>
<td>user9</td>
<td>test8</td>
<td>vwx</td>
<td>image2.jpg</td>
<td>Account State.pdf</td>
<td>testing8</td>
<td>2024-04-12 00:00:00</td>
<td>07:39:16</td>
<td>April 12, 2024, 7:39 a.m.</td>
<td>user8@gmail.com</td>
<td>https://www.abc.com</td>
<td>454512</td>
<td>yes</td>
<td>UK</td>
<td>India</td>
<td>54.554</td>
<td>75.55</td>
</tr>
<tr id="row_9" name="row_9">
<td>user9</td>
<td>user9</td>
<td>user4</td>
<td>test9</td>
<td>yza</td>
<td>image2.jpg</td>
<td>Account State.pdf</td>
<td>testing9</td>
<td>2024-04-12 00:00:00</td>
<td>07:40:16</td>
<td>April 12, 2024, 7:40 a.m.</td>
<td>user9@gmail.com</td>
<td>https://www.abc.com</td>
<td>454623</td>
<td>no</td>
<td>TamilNadu</td>
<td>India</td>
<td>522.2</td>
<td>44.44</td>
</tr>
<tr id="row_10" name="row_10">
<td>user10</td>
<td>user10</td>
<td>user6</td>
<td>test10</td>
<td>bcd</td>
<td>image3.jpg</td>
<td>Account State.pdf</td>
<td>testing10</td>
<td>2024-04-12 00:00:00</td>
<td>07:41:16</td>
<td>April 12, 2024, 7:41 a.m.</td>
<td>user10@gmail.com</td>
<td>https://www.abc.com</td>
<td>213202</td>
<td>yes</td>
<td>Assam</td>
<td>India</td>
<td>97.41</td>
<td>47.41</td>
</tr>
</tbody>
</table>
<input type="submit" value="Submit" class = "btn btn-primary"></form>