{% extends 'blog/base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated %}
                <a class="btn btn-secondary" href="{% url 'blog:post_edit' slug=post.slug %}">
                    {% include './icons/pencil-fill.svg' %}
                </a>
            {% endif %}
        </aside>

        {% if post.published_date %}
            <time class="date">
                {{ post.published_date }}
            </time>
            <p><b>Author:</b>{{ post.author|linebreaksbr }}</p>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <img src="{{ post.featured_image.url }}" width="30%" height="30%"><br>
        <br>

        <h5>Add comment</h5>
        
        <form method="post" action="">
            {% csrf_token %}
            <div id="commentForm" class="d-none">
                {{ comment_form.as_p }}
            </div>
            
            <button type="submit" class="btn btn-primary" onclick="showCommentBox()">Comment</button>
        </form>

        {% with comments.count as total_comments %}

        {% endwith %}
        {% if not post.comments.all %}
        No comments yet
        {% else %}
        {% for comment in post.get_comments %}
        {% include 'blog/comment.html' with comment=comment %}
          
              {% for reply in comment.reply_set.all %}
                <div class="reply">
                  <p>{{reply.user.username}} replied {{ reply.text }}</p>
                  </div>
                  {% endfor %}
                    
                  {% comment %} <button type="submit" class="btn btn-primary" onclick="replyForm()">Reply</button> {% endcomment %}
                  <div >
                  <form method="post" class="d-none" id="reply_form" action="{%url 'blog:reply'%}">
                      {{ comment_form.as_p }}
                      {% csrf_token %}
                      <input type="hidden" name="parent_id" value="{{ comment.id }}">
                      <button type="submit">submit</button>
                    </form>
                      <br><br>
                 </div>
            
          {% endfor %}
        {% endif %}
   
        
    </article>
{% endblock %}
