{% extends 'blog/base.html' %}

{% load static %}

{% block content %}

<head>
    <title>Django Girls Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
</head>
<style>
    .limited-content {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 300px; /* Set a maximum width for your container */
      max-height: 30px;
      display: inline-block; /* Ensures the element only takes up the necessary width */
    }
  </style>
{% for post in posts %}
    <article class="post">
        <time class="date">
            {{ post.published_date|timesince }}
        </time>
        <h2><a href="{% url 'blog:post_detail' slug=post.slug %}">{{ post.title }}</a></h2>
        <div class="mb-3 mt-3">
            Tag:
            {% for tag in post.tags.all %}
                <a class="tag mx-1 p-2" href="{%url 'blog:tag_post' tag_title=tag.title %}"><span>{{ tag.title}}</span></a>
            {% endfor %}
        </div>
        {% if post.category.title %}
            <a class="text-decoration-none text-black mb-3"
                href="{% url 'blog:cat_post' category_slug=post.category.title %}">
                <p class="card-text text-decoration-none">Category: {{ post.category.title }}</p>
            </a>
        {% endif %}
        <p>{{ post.text|linebreaksbr }}</p>   
        {% if post.thumbnails %}
            <img src = "{{ post.thumbnails.url }}" alt="{{post.thumbnails}}" width= "20%" height="20%">
        {% endif %}
       
    </article>  
{% endfor %}
{% endblock %}
{% block title %}My Blog{% endblock %}










